/* body {
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background: linear-gradient(to right, rgba(34, 37, 29, 0.70), rgba(44, 38, 48, 0.88)), url(./bg.jpg) fixed center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0 60%; */
  padding: 100px 0 500px 0px;
  
}