/*.container, .img-spot {
  margin-top: 50px;
  padding: 70px;
  max-width: 500px;
  background-color: beige;
  border-radius: 60px;
}*/

.btn {
  border-radius: 50px;
}
#game-controls{
  text-align: center;
}
img {
  max-width: 400px;
}
